# Jupyter Notebook
.ipynb_checkpoints/
*/.ipynb_checkpoints/
**/.ipynb_checkpoints/

# IPython
profile_default/
ipython_config.py

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Entornos virtuales
.env
.venv
env/
venv/

# OS
.DS_Store
Thumbs.db
